* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.bg-cover {
  background-image: url("../public/assest/images/pexels-vojta-kovarik-388639-3243090.jpg");
  min-height: 100vh;
  min-width: 100%;
  background-position: center center;
  background-size: cover;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
  padding: 10px;
}
.card {
  background-color: rgba(80, 80, 80, 0.247);
  border-radius: 10px;
  box-shadow: gainsboro 0px 4px 12px;
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  color: white;
  text-shadow: 4px 4px 6px rgb(50, 50, 53);
}
.card:hover {
  background-color: rgba(10, 10, 10, 0.247);
  scale: 1.01;
  transition: all ease-in-out 0.45s;
}
.card .image {
  width: 100%;
}
.card h1,
.card p {
  padding: 0 10px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.card .label {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  padding-right: 10px;
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 400) {
  .container {
    grid-template-columns: repeat(1, auto);
  }
}
